.buttonCart{
    min-width: 130px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border: 2px solid #2c0b8e;
    background: #2c0b8e;
    &:hover{
            background: #fff;
            color: #2c0b8e
        }    
}

@media (min-width: 1200px){
    .botonBuscar .form-control {
        width: 150px;
        height: 50px;
    }
}